#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  color: rgb(103, 178, 180);
}

form {
  display: flex;
  margin: 40px;
}
.inputTask{
  background-color: rgb(142, 209, 211);
  color: rgb(37, 56, 73);
  width: 300px;
  border-radius: 10px;
  border-color:beige;
  font-size: 14px;
}

.addTaskBtn, .delTaskBtn{
  background-color: rgb(142, 209, 211);
  margin-left: 10px;
  height: 30px;
  padding: 7px 30px 30px 30px;
  border-radius: 10px;
  border-color:beige;
}

.tasksContainer{
  display: flex;
  align-items: baseline;
  justify-content:flex-end;
  width: 480px;
}

.taskDescription{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
}

/* tacha si está completada */
.taskDescription.completed {
  text-decoration: line-through;
  color: gray;
}